# SSL initialization workflow
- name: SSL Certificate Setup Workflow
  hosts: cloud
  become: no
  tags:
    - 'init-service'
  tasks:
    - name: "Step 1: Deploy websites"
      import_role:
        name: websites
      vars:
        nossl: true
    - name: "Step 2: Deploy nginx without ssl"
      import_role:
        name: nginx
      vars:
        nossl: true
      become: yes
    - name: "Step 3: Deploy websites for webroot verification"
      import_role:
        name: websites
      vars:
        onlyssl: true
    - name: "Step 4: Reconfigure Nginx with SSL enabled"
      debug:
        msg: "Updating Nginx configuration with SSL certificates..."
    - import_role:
        name: nginx
      become: yes

- name: Cloud Server Playbook
  hosts: cloud
  become: no
  roles:
    - role: docker
      become: yes
      tags:
        - 'docker'
    - role: infrastructure
      tags:
        - 'infrastructure'
    - role: bridge
      tags:
        - 'bridge'
    - role: websites
      tags:
        - 'websites'
    - role: nginx
      become: yes
      tags:
        - 'nginx'
    - role: fresh
      become: yes
      tags:
        - 'fresh'
    - role: quotomate
      become: yes
      tags:
        - 'quotomatedb'
    - role: openvpn
      become: yes
      tags:
        - 'openvpn'
- name: Berlin (Microservice)
  become: yes
  hosts: berlin
  roles:
    - role: music
      tags:
        - 'music'

- name: Desktop (Berlin) Playbook
  become: yes
  hosts: desktop
  connection: local
  roles:
    - role: 1tbmount
      tags:
        - '1tbmount'
    - role: commands
      tags:
        - 'commands'
    - role: ssh-client
      tags:
        - 'ssh-client'
- name: Cloud and Desktop Setup
  hosts: cloud,desktop,berlin
  become: yes
  roles:
    - role: jumphost
      tags:
        - 'jumphost'
