# SSL initialization workflow
- name: SSL Certificate Setup Workflow
  hosts: cloud
  become: no
  tags:
    - 'init-service'
  tasks:
    - name: "Step 1: Deploy websites"
      include_role:
        name: services/websites
      vars:
        nossl: true
    - name: "Step 2: Deploy nginx without ssl"
      block:
        - include_role:
            name: infrastructure/nginx
          vars:
            nossl: true
      become: yes
    - name: "Step 3: Deploy websites for webroot verification"
      include_role:
        name: services/websites
      vars:
        onlyssl: true
    - name: "Step 4: Reconfigure Nginx with SSL enabled"
      debug:
        msg: "Updating Nginx configuration with SSL certificates..."
    - name: "Step 5: Deploy nginx with SSL"
      block:
        - include_role:
            name: infrastructure/nginx
      become: yes

- name: Cloud Server Playbook
  hosts: cloud
  become: no
  roles:
    - role: base/docker
      become: yes
      tags:
        - 'docker'
    - role: infrastructure
      become: yes
      tags:
        - 'infrastructure'
    - role: infrastructure/bridge
      tags:
        - 'bridge'
    - role: services/websites
      tags:
        - 'websites'
    - role: infrastructure/nginx
      become: yes
      tags:
        - 'nginx'
    - role: base/fresh
      become: yes
      tags:
        - 'fresh'
    - role: services/quotomate
      become: yes
      tags:
        - 'quotomatedb'
    - role: networking/openvpn
      become: yes
      tags:
        - 'openvpn'
- name: Berlin (Microservice)
  become: yes
  hosts: berlin
  roles:
    - role: services/music
      tags:
        - 'music'

- name: Desktop (Berlin) Playbook
  become: yes
  hosts: desktop
  connection: local
  roles:
    - role: host-specific/1tbmount
      tags:
        - '1tbmount'
    - role: base/commands
      tags:
        - 'commands'
    - role: networking/ssh-client
      tags:
        - 'ssh-client'
- name: Cloud and Desktop Setup
  hosts: cloud,desktop,berlin
  become: yes
  roles:
    - role: networking/jumphost
      tags:
        - 'jumphost'
