- name: Install websites
  import_tasks: websites.yml
  tags: ["websites:install"]
  when: onlyssl is not defined

- name: Include SSL tasks
  import_tasks: ssl.yml
  tags: ["websites:ssl"]
  when: nossl is not defined