<VirtualHost *:80>
    ServerAdmin webmaster@site1.com
    ServerName {{ webname }}
    DocumentRoot {{ iphone_container_storage_directory }}
    <Directory {{ iphone_container_storage_directory }}>
        Options +Indexes +FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>