- name: Include desktop tasks
  include_tasks: local.yml
  when: inventory_hostname in groups['desktop']

- name: Include desktop tasks
  include_tasks: cloud.yml
  when: inventory_hostname in groups['cloud']

