worker_processes {{ nginx_worker_processes }};
events {
    worker_connections {{ nginx_worker_connections }};
}
http {
    upstream homepage_backend {
        server {{ websites.kaxtus.docker_image_name }}:{{ websites.kaxtus.ex_port }};
    }
    server {
          listen 80;
          server_name localhost kaxtus.com;
          location / {
              proxy_pass http://homepage_backend;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
          }
    }
}

